doctype 5
html
  head
    //title= title
    link(rel='stylesheet', href='/stylesheets/ct_style.css')
  body
   div#top
    h1 Top
    a(href='/controlTower') home
   div#left
    ul
     li
      a(href='/controlTower/settings') Settings
   div#right
    block content