extends ../layout

block content
	h1 Control tower default settings.
	div
		ul#settings
			li Index page
				br
				textarea Input index page here.
			li Stylesheets
				br
				textarea Input css here
			li Javascripts
				br
				textarea Input script here
