extends ../layout

block content
	h1 ControlTower Addon form
	h2
	div
		form(method='post', action='./addonForm', enctype='multipart/form-data')
			input(type='file', name='plugin')
			input(type='submit', value='전송')
			input(type='button', value='취소', onclick='history.back();')